.visao-geral__conteudo {
    background: #212121b5;
    box-sizing: border-box;
    display: flex;
    gap: 1.6rem;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 0) {
    .visao-geral__conteudo {
        flex-direction: column;
        padding: 5.0rem;
    }
}

@media screen and (min-width: 768px) {
    .visao-geral__conteudo {
        align-items: center;
        flex-direction: row;
        padding: 7.5rem;
    }
}

@media screen and (min-width: 992px) {
    .visao-geral__conteudo {
        padding: 8.0rem;
    }
}