.cabecalho__link.lista {
    color: black;
    font-weight: 600;
    text-decoration: none;   
}

.cabecalho__link.lista:hover {
    color: #0070D1;
}

@media screen and (min-width: 0) {
    .cabecalho__link.lista {
        font-size: 1.4rem;
        margin-right: 5px;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho__link.lista {
        font-size: 1.3rem;
        margin-right: 10px
    }
}