.cabecalho__navegacao {
    align-items: center;
    display: flex;
    height: 50px;
}

@media screen and (min-width: 0) {
    .cabecalho__navegacao {
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho__navegacao {
        justify-content: flex-start;
        padding: 0 0 0 10px;
        width: 60%;
    }
}